<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Application</title>
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src ="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 style="margin-bottom: 1rem;" >Информация</h2>
            <p th:text="'Имя: ' + ${psychologist.name}"></p>
            <p th:text="'Фамилия: ' + ${psychologist.lname}"></p>
            <p th:text="'Город: ' + ${psychologist.town}"></p>
            <p th:text="'Видеосвязь: ' + ${psychologist.isVideocon()}"></p>
            <p th:text="'Описание: ' + ${psychologist.description}"></p>
            <p th:text="'Образование: ' + ${psychologist.education}"></p>
            <p th:text="'Возраст: ' + ${psychologist.getAgeMath()} + ' л'"></p>
            <p th:text="'Опыт: ' + ${psychologist.getPracticeMath()}"></p>
            <p th:text="'Дата регистрация: ' + ${psychologist.registration}"></p>
        </div>
    </div>
    <div class="form-group col-md-12">
    <img th:src="${psychologist.image}" alt="" border="3" style="max-height: 400px; max-width: 400px; width: auto; height: auto;">
    </div>
    <div class="container">
    <table th:if="${not #lists.isEmpty(sessions)}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>Формат</td>
            <td>День</td>
            <td>Время</td>
            <td>Статус</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${sessions}">
            <td th:text="${s.getFormatStr()}"/>
            <td th:text="${s.getFormattedDay()}"/>
            <td th:text="${s.getFormattedTime()}"/>
            <td th:text="${s.getStatus()}"/>
            <td>
                <a class="btn btn-warning" th:if="${s.getStatus()} == 'Ожидается'" th:href="@{'/session/cancel/' + ${s.id}}" onclick="confirmDelete(this);">Отменить</a>
            </td>
            <td>
                <a class="btn btn-warning" th:if="${s.getStatus()} == 'Ожидается'" th:href="@{'/session/finish/' + ${s.id}}" onclick="confirmFinish(this);">Завершить</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <a href="javascript:history.back()" class="btn btn-info" style="margin-top: 1rem;">Вернуться назад</a>
</div>
<script th:inline="javascript">
    function confirmDelete() {
        if (confirm("Вы точно хотите отменить выбранную сессию?")) {
            var button = event.target;
            var session = button.getAttribute("data-id");
            window.location.href = '/session/cancel/' + session;
        }
    }
</script>
<script th:inline="javascript">
    function confirmFinish() {
        if (confirm("Вы точно хотите завершить выбранную сессию?")) {
            var button = event.target;
            var session = button.getAttribute("data-id");
            window.location.href = '/session/finish/' + session;
        }
    }
</script>
</body>
</html>
