<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="header">
    <style>
 #menu { background-color: #00BFFF; overflow: hidden; display: flex; justify-content: space-between; align-items: center; } #menu ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; display: flex; } #menu li { float: left; margin-right: 20px; } #menu li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 1.2em; font-weight: bold; border-bottom: none; /* Remove underlines */ } #menu li a:hover { background-color: #4CAF50; } #menu .user-links { display: flex; align-items: center; color: white; text-align: center; text-decoration: none; font-size: 1.2em; font-weight: bold; } #menu .user-links a { margin-right: 10px; color: white; text-decoration: none; /* Remove underlines for user-links */ } #menu .user-links a:hover { background-color: #4CAF50; }

    </style>

    <div id="menu">
        <ul>
            <li><a th:href="@{/home}">NeuroPsy</a></li>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/psychologist}">Каталог</a></li>
            <li><a th:href="@{/registerpsy}">Психологам</a></li>
            <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/method}">Методы</a></li>
            <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/specialization}">Специализации</a></li>
            <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/client}">Клиенты</a></li>
            <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/session}">Сессии</a></li>
        </ul>
        <div class="user-links"><a th:if="${not #authorization.expression('isAuthenticated()')}" th:href="@{/login}">Войти</a>
            <a th:if="${not #authorization.expression('isAuthenticated()')}"
               th:href="@{/register}">Зарегистрироваться</a> <a
                    th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}">Выйти</a> <a
                    th:if="${#authorization.expression('isAuthenticated()')}" sec:authorize="hasRole('CLIENT')" th:href="@{/profile}">Профиль</a><a
                    th:if="${#authorization.expression('isAuthenticated()')}" sec:authorize="hasRole('PSYCHOLOGIST')" th:href="@{/profilepsy}">Профиль</a></div>
    </div>
</div>

</body>
</html>