<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Application</title>
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src ="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 style="margin-bottom: 1rem;" >Информация</h2>
            <p th:text="'Имя: ' + ${psychologist.name}"></p>
            <p th:text="'Фамилия: ' + ${psychologist.lname}"></p>
            <p th:text="'Город: ' + ${psychologist.town}"></p>
            <p th:text="'Видеосвязь: ' + ${psychologist.isVideocon()}"></p>
            <p th:text="'Описание: ' + ${psychologist.description}"></p>
            <p th:text="'Образование: ' + ${psychologist.education}"></p>
            <p th:text="'Возраст: ' + ${psychologist.getAgeMath()} + ' л'"></p>
            <p th:text="'Опыт: ' + ${psychologist.getPracticeMath()}"></p>
            <p th:text="'Дата регистрация: ' + ${psychologist.registration}"></p>
        </div>
    </div>
    <div class="form-group col-md-12">
    <img th:src="${psychologist.image}" alt="" border="3" style="max-height: 400px; max-width: 400px; width: auto; height: auto;">
    </div>
    <td>
        <a sec:authorize="hasRole('ADMIN')" class="btn btn-warning" th:if="${psychologist.isConfirmed()} == false" th:href="@{'/psychologist/confirmed/' + ${psychologist.id}}">Подтвердить</a>
    </td>
    <div class="container">
    <table th:if="${not #lists.isEmpty(sessions)}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Формат</td>
            <td>День</td>
            <td>Время</td>
            <td>Статус</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${sessions}">
            <td th:text="${s.id}"/>
            <td th:text="${s.getFormatStr()}"/>
            <td th:text="${s.getFormattedDay()}"/>
            <td th:text="${s.getFormattedTime()}"/>
            <td th:text="${s.getStatus()}"/>
            <td><a class="btn btn-warning" th:href="@{'/session/update/' + ${s.id}}">Изменить</a></td>
            <td><a href="#" class="btn btn-danger" th:attr="data-id=${s.id}" onclick="confirmDelete(this);">Удалить</a></td>
        </tr>

        </tbody>
    </table>
    </div>
    <a href="javascript:history.back()" class="btn btn-info" style="margin-top: 1rem;">Вернуться назад</a>
</div>
</body>
</html>
