<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Application</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
</head>
<body>
<div th:insert="fragments :: header"></div>

<div  class="container">
    <form th:action="@{/psychologist}" method="GET">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label style="font-size: 1.2em;">Метод:</label>
                <div th:each="method : ${allMethods}">
                    <div class="form-check" style="margin-bottom: 0.5em;">
                        <input class="form-check-input" type="checkbox" id="method" name="methodIds" th:value="${method.getId()}" style="zoom: 1.5;">
                        <label class="form-check-label" th:for="${'method-' + method.getId()}" th:text="${method.getName()}" style="font-size: 1.1em;"></label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label style="font-size: 1.2em;">Специализация:</label>
                <div th:each="specialization : ${allSpecializations}">
                    <div class="form-check" style="margin-bottom: 0.5em;">
                        <input class="form-check-input" type="checkbox" id="specialization" name="specializationIds" th:value="${specialization.getId()}" style="zoom: 1.5;">
                        <label class="form-check-label" th:for="${'specialization-' + specialization.getId()}" th:text="${specialization.getName()}" style="font-size: 1.1em;"></label>
                    </div>
                </div>
            </div>
        </div>
        <style>
  #priceRange {
    width: 100%;
    font-weight: bold;
    background-color: #00BFFF;
  }
</style>

        <div class="form-group col-md-12">
            <label style="font-size: 1.2em;">Цена:</label>
            <input type="range" id="priceRange" name="priceRange" min="0" max="20000" step="100" value="5000">
            <span id="priceValue">5000 рублей</span>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 1em;">Применить</button>
    </form>
    <a sec:authorize="hasRole('ADMIN')" class="btn btn-success" style="margin-bottom: 1rem;" th:href="@{/psychologist/adding}">Добавить нового</a>
    <style>
    .table-row {
        height: 500px;
    }
</style>
    <table th:if="${psychologists.iterator().hasNext()}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td sec:authorize="hasRole('ADMIN')">ID</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Методы</td>
            <td>Специализации</td>
            <td>Описание</td>
            <td>Опыт</td>
            <td>Цена</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="psychologist : ${psychologists}">
            <td sec:authorize="hasRole('ADMIN')" th:text="${psychologist.id}"/>
            <td th:text="${psychologist.name}"/>
            <td th:text="${psychologist.lname}"/>
            <td>
                <ul>
                    <li th:each="method : ${psychologist.methodList}" th:text="${method.getName()}"></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="specialization : ${psychologist.specializationList}" th:text="${specialization.getName()}"></li>
                </ul>
            </td>
            <td th:text="${psychologist.description}"/>
            <td th:text="${psychologist.getPracticeMath()}"/>
            <td th:text="${psychologist.price}"/>
            <td><a sec:authorize="hasRole('ADMIN')" class="btn btn-info" th:href="@{'/psychologist/details/' + ${psychologist.id}}">Детализация</a></td>
            <td><a sec:authorize="hasRole('CLIENT')" class="btn btn-info" th:href="@{'/psychologist/detailsforclient/' + ${psychologist.id}}">Подробнее</a></td>
            <td><a sec:authorize="hasRole('ADMIN')" class="btn btn-warning"  th:href="@{'/psychologist/update/' + ${psychologist.id}}">Изменить</a></td>
            <td><a sec:authorize="hasRole('ADMIN')" href="#" class="btn btn-danger" th:attr="data-id=${psychologist.id}" onclick="confirmDelete(this);">Удалить</a></td>


        </tr>
        </tbody>
    </table>
   <a sec:authorize="hasRole('ADMIN')" class="btn btn-info" th:href="@{'/psychologist/report'}">Отчет</a>

</div>

</body>
<script th:inline="javascript">
    function confirmDelete() {
        if (confirm("Вы точно хотите удалить выбранного психолога?")) {
            var button = event.target;
            var psychologist = button.getAttribute("data-id");
            window.location.href = '/psychologist/delete/' + psychologist;
        }
    }
</script>
<script>
    var priceRange = document.getElementById("priceRange");
    var priceValue = document.getElementById("priceValue");

    priceRange.oninput = function() {
        priceValue.textContent = this.value + " рублей";
    }
</script>
</html>