<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Application</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
</head>
<body>
<div  class="container">
    <h1>Клиенты</h1>
    <a class="btn btn-success" style="margin-bottom: 1rem;" th:href="@{/client/adding}">Добавить новый</a>
    <table th:if="${clients.iterator().hasNext()}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Имя</td>
            <td>Почта</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.id}"/>
            <td th:text="${client.name}"/>
            <td th:text="${client.email}"/>
            <td><a class="btn btn-warning"  th:href="@{'/client/update/' + ${client.id}}">Изменить</a></td>
            <td><a href="#" class="btn btn-danger" th:attr="data-id=${client.id}" onclick="confirmDelete(this);">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script th:inline="javascript">
    function confirmDelete() {
        if (confirm("Вы точно хотите удалить выбранный метод?")) {
            var button = event.target;
            var client = button.getAttribute("data-id");
            window.location.href = '/client/delete/' + client;
        }
    }
</script>
</html>